<div class="row">
	<input class="span3" id="frequency" type="text" placeholder="Every X Minutes Where X = ">
	<input class="span8" id="address" type="text" placeholder="Http Url">
	<button class="btn btn-small btn-success pull-right" type="button" id="submitBtn">Submit !</button>
</div>

<div id="schedules" class="row">

</div>

<div class="row">
	<button class="btn btn-small btn-warning pull-left" type="button" id="deleteBtn">Delete Selected</button>
</div>

